body, html{
  margin: 0;
  padding: 0;
  /* This ensures that the body takes the full viewport */
  width: 100%;
  height: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  position: relative;
  width: 100%; /* Full width of its parent */
  height: 100%; /* Double the height of its parent */
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  overflow-y: auto; 
} 

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.lit-circle {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0%, rgba(0, 0, 0, 0) 70%);
  pointer-events: none;
  z-index: -1; /* Adjust if needed to ensure it's above other elements */
}

.light-source {
  /* spotlight kinda like light */
  position: absolute;
  width: 200px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  z-index: 11;
}

<<<<<<< HEAD
=======

.flashlight-on { /* change 0% to increase intensity of light*/
  background: radial-gradient(circle at var(--lightX) var(--lightY), 
              rgba(255, 255, 255, 0.9) 10%, 
              rgba(0, 0, 0, 0.95) 0%);
            
} 
>>>>>>> d10e8c6ad03636353715d96558d4f982d9f84bbc
.darkness-layer { /* this does not work. need to tweak*/
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95); /* Adjust opacity as needed */
  pointer-events: none; /* Ensures clicks pass through the layer */
  z-index: 10; /* Ensure it's above the game, but below the UI elements */
}


.lit-square {
  /* Rectangle light */
  position: absolute;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%,  rgba(66, 76, 125, 0.8) 100%);
}

.player-view {
 
  transform: perspective(1000px) rotateX(-20deg);
  
  /* Ensure the image stays within the frame during the perspective transformation */
  transform-origin: bottom center;
  
  /* Optional: add a border to simulate a screen */
  border: 5px solid #fff;
  
  /* Optional: add a shadow to simulate the ambient light of the theater */
  box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.8);
  z-index: 1;
}




























/*
.darkness-layerrr {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vh; 
  height: 10vh; 
  background-color: rgba(0, 0, 0, 0.7); 
  mask-image: url('../public/maaks-sprite.png');
  mask-size: cover;
  mask-position: center;
} */

/* .mask-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vh; 
  height: 10vh; 
  background-image: url('../public/maaks-sprite.png');
  background-size: cover;
  background-position: center;
} */